section {
    height: 92dvh;
    width: 50%;
    margin: 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
    font-size: 35px;
    border: 2px solid aliceblue;
    text-decoration: none;
    color: aliceblue;
    width: 500px;
    border-radius: 20px;
    justify-content: center;
    column-gap: 20px;
}

.link:hover {
    border: 2px solid #640000;
    color: #640000;
}

.logo {
    height: 50px;
    width: auto;
    mix-blend-mode: screen;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    height: 8dvh;
    backdrop-filter: brightness(50%) blur(30px);
}

nav > a {
    font-family: 'Times New Roman', Times, serif;
    width: 120px;
    text-align: center;
    font-weight: 500;
    color: aliceblue;
    text-decoration: none;

    &:hover {
        color: #640000;
    }
}

.linux:hover {
    border-color:#640000;
    color: #640000
}

.uni:hover {
    border-color:#42077a;
    color: #42077a;
}

.design:hover {
    border-color:#d61153;
    color: #d61153
}